.container-menu
	.container
		.row.justify-content-center
			+menu_title

		.menu__items-container
			.row
				+menu_item("./image/burg_1.png", "BBQ Chicken", "Big and Meaty", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.", "$50.00")
				+menu_item("./image/burg_2.png", "WHOPE SANDWICH", "Big and Meaty", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.", "$45.50")
				+menu_item("./image/burg_3.png", "HOMESTYLE BURGER", "Big and Meaty", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.", "$34.00")
				+menu_item("./image/burg_4.png", "BACON SANDWICH", "Big and Meaty", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.", "$75.00")


.container-our-menu
	.container
		.row.justify-content-center
			+info-our-menu
		.row
			+item-menu-food("./image/1.png", "Poblano Queso Spinach Dip", "Creamy queso is infused with spicy Poblano peppers", "$14.99")
			+item-menu-food("./image/2.png", "Poblano Queso Spinach Dip", "Creamy queso is infused with spicy Poblano peppers", "$14.99")
			+item-menu-food("./image/3.png", "Poblano Queso Spinach Dip", "Creamy queso is infused with spicy Poblano peppers", "$14.99")
			+item-menu-food("./image/4.png", "Poblano Queso Spinach Dip", "Creamy queso is infused with spicy Poblano peppers", "$14.99")
			+item-menu-food("./image/5.png", "Poblano Queso Spinach Dip", "Creamy queso is infused with spicy Poblano peppers", "$14.99")
			+item-menu-food("./image/6.png", "Poblano Queso Spinach Dip", "Creamy queso is infused with spicy Poblano peppers", "$14.99")
			+item-menu-food("./image/7.png", "Poblano Queso Spinach Dip", "Creamy queso is infused with spicy Poblano peppers", "$14.99")
			+item-menu-food("./image/8.png", "Poblano Queso Spinach Dip", "Creamy queso is infused with spicy Poblano peppers", "$14.99")
			+item-menu-food("./image/9.png", "Poblano Queso Spinach Dip", "Creamy queso is infused with spicy Poblano peppers", "$14.99")
			+item-menu-food("./image/10.png", "Poblano Queso Spinach Dip", "Creamy queso is infused with spicy Poblano peppers", "$14.99")

