.container-opening-hours
	.container
		.row
			+opening_house
		.row
			.col-lg-8.col-12
				.block-left-hours
					.container-img
						img(src="./image/art.png", alt="")

			.col-lg-4.col-12
				.block-right-hours
					.dinner
						h4.title Dinner:
						p.text Tuesday to Saturday 5.30 pm til 9.00 pm Bank Holiday Sundays 6pm til 9pm
					.lunch
						h4.title Lunch:
						p.text Friday 12.30 til 2.30 pm
						p.text_ Sunday 12.30 til 4 pm
