.container-our-chefs
	.container
		.row
			+our-chefs
		.row
			+item-shefs("./image/people_1.png", "James T kirk", "Captain", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ")
			+item-shefs("./image/people_2.png", "Leonard mccoy", "Doctor Not  A", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ")
			+item-shefs("./image/people_3.png", "Hikaru sulu", "Pilot", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ")

.container-our-chefs-2
	.container
		.row.justify-content-center
			+our-chefs-2
		.row
			+item-shefs-2("./image/black_people_1.png", "James T kirk", "Captain")
			+item-shefs-2("./image/black_people_3.png", "Leonard mccoy", "Doctor Not  A")
			+item-shefs-2("./image/black_people_2.png", "Hikaru sulu", "Pilot")


